<header class="masthead text-white">
    <div class="overlay"></div>
    <div class="container slider-top-text">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="myp-slider text-center">Delta Zertiga Processor</p>
                <h3 class="my-heading"> Full Screen <span class="bgs-main">Display </span></h3>
                <a class="btn btn-join" href="/smart">Shop Now</a>

            </div>
            <div class="col-md-12 text-center mt-5">
                <div class="scroll-down">
                    <a class="btn btn-default btn-scroll floating-arrow" href="#gobottom" id="bottom"><i
                            class="fa fa-angle-down"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>


<section class="testimonials" id="gobottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 gal-item wow bounceInUp h-100 w-100" data-wow-duration="1.4s">
                <div class="big-img item ">
                    <a href="https://cdn.shopify.com/s/files/1/0104/6917/9492/files/camera_1060x.jpg?v=1560405363"
                        class="fancybox" rel="ligthbox">
                        <img src="https://cdn.shopify.com/s/files/1/0104/6917/9492/files/camera_1060x.jpg?v=1560405363"
                            class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="inner-section wow fadeInUp">
                    <h3>42 FRONT CAMERA FOR
                        <span class="bgs-main">PERFECT SHOT</span>
                    </h3>
                    <br>
                    <p class="text-justify">Porem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui official.

                        Diam vulputate ut pharetra sit. Elit ut aliquam purus sit amet luctus venenatis lectus. Lorem
                        dolor sed viverra ipsum nunc aliquet. Ut consequat semper viverra nam libero. Velit ut tortor
                        aremn.</p>

                    <div class="linear-grid">
                        <div class="row">
                            <div class="col  mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                <img src="https://cdn.shopify.com/s/files/1/0104/6917/9492/files/ic13.png?v=1560435609"
                                    class="img-thumbnail">
                                <h5>PERFECT CUT
                                    DUAL CAMERA</h5>
                                <p>Tristique senectus et netus et malesuada ant reiet fames.</p>
                            </div>
                            <div class=" col  mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                <img src="https://cdn.shopify.com/s/files/1/0104/6917/9492/files/ic12.png?v=1560435631"
                                    class="img-thumbnail">
                                <h5>PRETTY
                                    INTELLIGENT PROCESSING</h5>
                                <p>Consequat ac habit amet asse felis donec et odio pellentesque diam.</p>
                            </div>
                            <div class="col mb-2 wow bounceInUp" data-wow-duration="1.4s">
                                <img src="https://cdn.shopify.com/s/files/1/0104/6917/9492/files/ic11.png?v=1560435659"
                                    class="img-thumbnail">
                                <h5>MOST POPULAR
                                    8GB DDR5 RAM</h5>
                                <p>Dictum varius duis at consectetur lorem donec massa sap faucibus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials mybg-events">

    <div class="container">

        <div class="row">
            <div class="col-md-12 wow fadeInUp">
                <h3 class="title-heading text-center">AMAZING WEATHER REPORT</h3>
                <p class="myp text-center">Tellus at urna condimentum mattis pellentesque id nibh. Mauris cursus mattis
                    molestie a iaculis at erat. Netus et malesuada fames ac turpis.</p>
            </div>
        </div>
        <div class="row wow slideInLeft" data-wow-duration="3s">
            <div class="col-md-4 mb-3">
                <div class="big-img2">
                    <img src="https://cdn.shopify.com/s/files/1/0104/6917/9492/files/gal1_770x.jpg?v=1560420603"
                        class="img-fluid">
                </div>

            </div>
            <div class="col-md-8">
                <div class="inner-section">
                    <div class="my-grid">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 mb-3">

                                <img src="https://cdn.shopify.com/s/files/1/0104/6917/9492/files/gal2_470x.jpg?v=1560420796"
                                    class="img-fluid">

                            </div>
                            <div class="col-sm-6 col-md-8 mb-3 ">

                                <img src=" 	https://cdn.shopify.com/s/files/1/0104/6917/9492/files/gal4_770x.jpg?v=1560420833"
                                    class="img-fluid">

                            </div>

                            <div class="col-md-8 mb-3">
                                <div class="text-block">
                                    <h5 class="events-heading">Stylish Mobile Covers.</h5>
                                    <p class="myp-font">Nullam malesuada erat ut ki diaml ka dhuddu pochu turpis.
                                        Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec
                                        justo eget felis facilisis fermentum. Morbi in sem quis dui placerat ornare.
                                        Tortor dignissim convallis aenean et tortor. Ac tincidunt vitae semper quis
                                        lectus nulla at volutpat diam.</p>
                                </div>
                            </div>
                            <div class=" col-md-4 ">

                                <img src="https://cdn.shopify.com/s/files/1/0104/6917/9492/files/gal3_470x.jpg?v=1560420819"
                                    class="img-fluid">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto wow fadeInUp">
                <h3 class="text-center font-weight-bold">Top 45 Smartphone <span class="bgs-main">Blogs</span> and
                    Websites
                </h3>
                <p>Latest Mobile Phones, News, Reviews in World : FoneArena</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-2 col-lg-3 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="card p-0">
                    <img class="card-img-top"
                        src="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-13_470x.jpg?v=1556797709">
                    <div class="card-block">

                        <h4 class="card-title text-center">THE TABLET PLAYSTORE</h4>

                        <div class="card-text text-center">
                            <div class="social-icons">
                                <a href="#" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn twitter"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <small>Malesuada pellentesque elit eget gravida cum sociis. Rhoncus est pellentesque elit
                            ullamcorper dignissim cras tincidunt lobortis feugiat ellente</small>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="card">
                    <img class="card-img-top"
                        src="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-11_470x.jpg?v=1556797545">
                    <div class="card-block">

                        <h4 class="card-title text-center">THE RESPONSIVE COMFORT SCREENS</h4>

                        <div class="card-text text-center">
                            <div class="social-icons">
                                <a href="#" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn twitter"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <small>Mattis molestie a iaculis at erat pellentesque adipiscing commodo. In nisl nisi
                            scelerisque eu. Tortor id aliquet lectus proin nibh nisl.</small>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="card">
                    <img class="card-img-top"
                        src="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-10_470x.jpg?v=1556797463">
                    <div class="card-block">

                        <h4 class="card-title text-center">AMAZING WEATHER REPORT</h4>

                        <div class="card-text text-center">
                            <div class="social-icons">
                                <a href="#" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn twitter"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <small>Tellus at urna condimentum mattis pellentesque id nibh. Mauris cursus mattis molestie a
                            iaculis at erat. Netus et malesuada fames ac turpis. </small>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="card">
                    <img class="card-img-top"
                        src="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-1_470x.jpg?v=1556796456">
                    <div class="card-block">

                        <h4 class="card-title text-center">BEST ANDROID SECURITY SYSTEM</h4>

                        <div class="card-text text-center">
                            <div class="social-icons">
                                <a href="#" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn twitter"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#" class="btn btn-circle my-social-btn google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <small>Felis bibendum ut tristique et egestas quis ipsum suspendisse ultrices. In massa tempor
                            nec feugiat nisl pretium fusce id. Sit amet dictum sit amet. </small>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials text-center mybg-music">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInUp">
                <h3 class="title-heading text-center font-weight-bold">The Best Phones for 2022</h3>
                <p class="myp text-center">We test and rate hundreds of mobile phones each year. Whether you're looking
                    for Android, iOS or a simple feature phone, <br> these are our top picks for a variety of budgets
                    and
                    capabilities across the major US wireless carriers.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-2 mt-4 gal-item wow bounceInUp" data-wow-duration="1.4s">
                <div class="music-gal item box">
                    <a href="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-12_470x.jpg?v=1556797610"
                        class="fancybox" rel="ligthbox">
                        <img class="img-fluid"
                            src="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-12_470x.jpg?v=1556797610">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 mt-4 gal-item wow bounceInUp" data-wow-duration="1.4s">
                <div class="music-gal item box">
                    <a href="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-10_470x.jpg?v=1556797463"
                        class="fancybox" rel="ligthbox">
                        <img class="img-fluid"
                            src="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-10_470x.jpg?v=1556797463">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 mt-4 gal-item wow bounceInUp" data-wow-duration="1.4s">
                <div class="music-gal item box">
                    <a href="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-9_470x.jpg?v=1556797347"
                        class="fancybox" rel="ligthbox">
                        <img class="img-fluid"
                            src="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-9_470x.jpg?v=1556797347">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 mt-4 gal-item wow bounceInUp" data-wow-duration="1.4s">
                <div class="music-gal item box">
                    <a href="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-8_470x.jpg?v=1556797302"
                        class="fancybox" rel="ligthbox">
                        <img class="img-fluid"
                            src="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-8_470x.jpg?v=1556797302">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 mt-4 gal-item wow bounceInUp" data-wow-duration="1.4s">
                <div class="music-gal item box">
                    <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvsdNZb4kvhelK3lCv1KHEVwgTIFdlv3MICQ&usqp=CAU"
                        class="fancybox" rel="ligthbox">
                        <img class="img-fluid"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvsdNZb4kvhelK3lCv1KHEVwgTIFdlv3MICQ&usqp=CAU">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 mt-4 gal-item wow bounceInUp" data-wow-duration="1.4s">
                <div class="music-gal item box">
                    <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj3IpJq8tzaNkJjaQpt0mDWh_3MugmsNrg7A&usqp=CAU"
                        class="fancybox" rel="ligthbox">
                        <img class="img-fluid"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj3IpJq8tzaNkJjaQpt0mDWh_3MugmsNrg7A&usqp=CAU">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 mt-4 gal-item wow bounceInUp" data-wow-duration="1.4s">
                <div class="music-gal item box">
                    <a href="https://cdn.shopify.com/s/files/1/0104/6917/9492/files/abo-03.jpg?v=1621512246"
                        class="fancybox" rel="ligthbox">
                        <img class="img-fluid"
                            src="https://cdn.shopify.com/s/files/1/0104/6917/9492/files/abo-03.jpg?v=1621512246">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 mt-4 gal-item wow bounceInUp" data-wow-duration="1.4s">
                <div class="music-gal item box">
                    <a href="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-7_470x.jpg?v=1556797254"
                        class="fancybox" rel="ligthbox">
                        <img class="img-fluid"
                            src="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-7_470x.jpg?v=1556797254">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 mt-4 gal-item wow bounceInUp" data-wow-duration="1.4s">
                <div class="music-gal item box">
                    <a href="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-6_470x.jpg?v=1556797162"
                        class="fancybox" rel="ligthbox">
                        <img class="img-fluid"
                            src="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-6_470x.jpg?v=1556797162">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 mt-4 gal-item wow bounceInUp" data-wow-duration="1.4s">
                <div class="music-gal item box">
                    <a href="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-4_470x.jpg?v=1556797016"
                        class="fancybox" rel="ligthbox">
                        <img class="img-fluid"
                            src="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-4_470x.jpg?v=1556797016">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 mt-4 gal-item wow bounceInUp" data-wow-duration="1.4s">
                <div class="music-gal item box">
                    <a href="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-3_470x.jpg?v=1556796947"
                        class="fancybox" rel="ligthbox">
                        <img class="img-fluid"
                            src="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-3_470x.jpg?v=1556796947">
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 mt-4 gal-item wow bounceInUp" data-wow-duration="1.4s">
                <div class="music-gal item box">
                    <a href="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-2_470x.jpg?v=1556796874"
                        class="fancybox" rel="ligthbox">
                        <img class="img-fluid"
                            src="https://cdn.shopify.com/s/files/1/0104/6917/9492/articles/blog-2_470x.jpg?v=1556796874">
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

<section class=" bg-light" id="marketplace">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto wow fadeInUp">
                <h3 class="text-center font-weight-bold"><span class="bgs-main">Testimonials </span> </h3>
            </div>
        </div>

        <main class="gal-item wow bounceInUp" data-wow-duration="1.4s">
            <!--This is the current testimonial-->
            <div class="testimonial-container testimonial-active">
                <div class="testimonial-header"></div>
                <div class="testimonial-body">
                    <img alt="Avatar" src="" class="testimonial-avatar" />
                    <h1></h1>
                    <p></p>
                </div>
                <div class="testimonial-footer">
                    <div>
                        <span><i class="fab fa-google"></i></span>
                        <span><i class="fab fa-linkedin"></i></span>
                        <span><i class="fab fa-twitter"></i></span>
                    </div>
                    <div>
                        <button id="next">
                            <i class="fa fa-3x fa-chevron-circle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!--This is the next testimonial-->
            <div class="testimonial-ghost-container">
                <div class="testimonial-ghost-header"></div>
                <div class="testimonial-ghost-body">
                    <img alt="Avatar" src="" />
                    <h1></h1>
                    <p></p>
                </div>
                <div class="testimonial-ghost-footer">
                    <div>
                        <span><i class="fab fa-google"></i></span>
                        <span><i class="fab fa-linkedin"></i></span>
                        <span><i class="fab fa-twitter"></i></span>
                    </div>
                    <div>
                        <button id="ghost-next">
                            <i class="fa fa-3x fa-chevron-circle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>
